<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
	{{- partial "header.html" . -}}

	<main id="content">
	{{- block "main" . }}{{- end }}
	</main>

	{{- partial "footer.html" . -}}
</body>

</html>
