* {
	text-align: center;
	color: rgb(85, 85, 85);
}

html {
	scroll-behavior: smooth;
}

h2 {
	font-size: 44px !important;
}

h3 {
	font-size: 16px !important;
	font-weight: bold !important;
}

p {
	font-size: 14px;
}

.anchor {
	padding-top: 54px;
	margin-top: -54px;

	@media (max-width: 1250px) {
		padding-top: 54px;
		margin-top: -54px;
	}

	@media (max-width: 650px) {
		padding-top: 102px;
		margin-top: -102px;
	}
}

.bgcolor-yellow {
	background-color: rgb(249, 169, 14);
	color: #4A4A4A;

	&:hover {
		color: #4A4A4A;
	}
}

.bgcolor-blue {
	background-color: rgb(0, 103, 203);
	color: white;

	&:hover {
		color: white;
	}
}

section {
	width: 100%;
}

.fixed-background {
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	color: rgba(0, 0, 0, 0.75) !important;
}

.bi {
  font-size: 42px;
}

.color-white * {
	color: rgb(248, 249, 250);
	fill: rgb(248, 249, 250);
}

.color-blue * {
	color: rgb(0, 103, 203);
	fill: rgb(0, 103, 203);
}

.feature-icon {
	width: 100px;
	height: 100px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(248, 249, 250);

	&.round {
		border-radius: 800px;
	}

	&.bgcolor-yellow .bi {
		fill: rgb(99, 99, 99);
	}

	&.bgcolor-blue .bi {
		fill: rgb(248, 249, 250);
	}
}

.button {
	box-sizing: border-box;

	display:flex;
	align-items: center;

	width: max-content;

	flex-shrink: 0;

	font-size: 18px;
	font-weight: bold;
	padding: 8px 24px;
	text-align: left;
	text-transform: capitalize;

	&.round {
		border-radius: 800px;
	}

	.bi {
		margin-left: 10px;
		font-size: 20px;
	}
}

#error_404 {
	height: calc(100vh - 329px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}
