footer {
	padding: 75px 100px 100px 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: rgb(36, 35, 39);

	@media (max-width: 650px) {
		flex-direction: column;
		padding: 30px 50px;
	}

	.column, address {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		@media (max-width: 650px) {
			width: 100%;
			margin: 10px 0;
			height: auto;
		}

		.item {
			margin-bottom: 8px;
			text-align: left;
			text-decoration: none;

			.item-label {
				color: white;
			}

			&:hover {
				.item-label {
					text-decoration: underline;
				}
			}
		}
	}

	svg, span.bi {
		margin-right: 5px;
		height: 15px;
		font-size: 15px !important;
		fill: rgb(249, 169, 14);
		color: rgb(249, 169, 14);
		min-width: 15px;
	}
}
