header {
	position: sticky;
	top: 0;
	z-index: 1;

	background: white;
	box-shadow: 0 .2rem 0.25rem rgba(0, 0, 0, 0.3) !important;

	@media (max-width: 650px) {
		padding-bottom: 5px;
	}

	nav {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		a {
			display: flex;
			align-items: center;
		}

		.button-container {
			display: flex;
			justify-content: flex-end;
			flex-grow: 1;
			padding: 0 15px;

			@media (max-width: 650px) {
				min-width: 400px;
				justify-content: center;
			}
		}
	}
}
