{{ with $.Site.Data.footer }}
<footer>
  <div class="column">
    {{ range .external_links }}
    <a class="item" href="{{ .link }}" target="_blank" rel="noreferrer">
      {{ partial ( printf "icons/%s" .icon ) }}
      <span class="item-label">{{ .label }}</span>
    </a>
    {{end}}
  </div>

  <div class="column">
    <address>
      <a class="item" href="geo:43.7611,5.2803?z=13">
        {{ partial "icons/generics/geo-alt-fill.svg" }}
        <span class="item-label">Brest/Paris, France</span>
      </a>

      {{ range .contact }}
      <a class="item" href="{{ .link }}">
        {{ partial ( printf "icons/%s" .icon ) }}
        <span class="item-label">{{ .label }}</span>
      </a>
      {{end}}

      <a class="item" href="tel:+33622290382">
        {{ partial "icons/generics/telephone-fill.svg" }}
        <span class="item-label">06 22 29 03 82</span>
      </a>
    </address>
  </div>

  <div class="column">
    {{ range .ressources }}
    <a class="item" href="{{ .link }}">
      {{ partial ( printf "icons/%s" .icon ) }}
      <span class="item-label">{{ .label }}</span>
    </a>
    {{end}}

    <a class="item" href="https://creativecommons.org/licenses/by-sa/4.0/">
      <span class="bi">©&nbsp;</span>
      <span class="item-label">{{ $.Site.Copyright }}{{ now.Format "2006"}}</span>
    </a>
  </div>
</footer>
{{end}}
