{{ define "main" }}

<section id="error_404">
	<h1>404</h1>
	<h2>Page Not Found</h2>
	<a class="button round bgcolor-yellow mt-5" href="{{ site.BaseURL | relLangURL }}">Retour à l'accueil</a>
</section>

{{ end }}
